<?xml version="1.0" encoding="gbk"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>http://123.126.137.199:5240/appCenter/download/573C63E1400000024D5531AE1FA5156D/mt.ipa</string></dict><dict><key>kind</key><string>display-image</string><key>needs-shine</key><true /><key>url</key><string>http://123.126.137.199:5240/appCenter/setupImage/573C63E1400000024D5531AE1FA5156D/icon.png</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string>com.jiuqi.gmc.mfo.iphone.enterprise</string><key>bundle-version</key><string>1.0</string><key>kind</key><string>software</string><key>title</key><string>iOS客户端</string></dict></dict></array></dict></plist>
